<img class="backgroundImage" src="../../assets/images/CMS_Module_Background.PNG"/>

<div class="moduleSegment">

    <div class="ui padded grid">
        <div class="row">
            <div class="eight wide column">

                <a routerLink="/listview">
                    <i class="angle left icon"></i>
                </a>

            </div>

            <div class="four wide column"></div>

            <div class="four wide column mainIcons">

                <a routerLink="/charts">
                    <i class="chart pie icon"></i>
                </a>

                <a routerLink="/settings">
                    <i class="cog icon"></i>
                </a>

                <i class="download icon"></i>
                <i class="upload icon"></i>

            </div>
        </div>
        
    </div>

</div>